<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.6d">
    <!--"id" identifica seu plug-in de forma global. Deve ser exclusivo, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter pelo menos 5 caracteres e um máximo de 40. Depois de definir o ID, você não deve alterá-lo ;)-->
    <id>kaore_orp_01</id>
    <!--"version" é a versão do seu plugin. Quando você lança uma nova versão do seu módulo, altere aqui =)-->
    <version>0.1</version>
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>ORP 01</name>
        <description>Ficha de personagem paranormal feita por fã: Explore o sobrenatural com esta ficha de RPG criada por um entusiasta, cuidadosamente elaborada para uma experiência de jogo fora do comum.</description>
        <author>Gus / Kaore</author>
        <site></site>
        <contact></contact>
    </info>
</module>
